#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20190923

sysconf_DATA = {%- for n in name %} {{ n }} {%- endfor %}

{%- if ( (destdir is defined) and (destdir is string) ) %}
rootconfdir = {{destdir}}
{%- endif %}

{%- if ( (confext is defined) and (confext is string) ) %}
SYSCONF_EXT = {{confext}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm conf.mk)
{%- else %}
include conf.mk
{%- endif %}