#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20230113

{%- if image is defined %}
img_NAMES += {{image}}
{%- endif %}

{%- if registry is defined %}
REGISTRY = {{registry}}
{%- endif %}

{%- if registry_username is defined %}
REGISTRY_USERNAME = {{registry_username}}
{%- endif %}

{%- if registry_password is defined %}
REGISTRY_PASSWORD = {{registry_password}}
{%- endif %}

{%- if DOCKER_HOST is defined %}
DOCKER_HOST = {{DOCKER_HOST}}
{%- endif %}

{%- if DOCKER_RUN_FLAGS is defined %}
DOCKER_RUN_FLAGS = {{DOCKER_RUN_FLAGS}}
{%- endif %}

{%- if name is defined %}
DOCKER_RUN_NAMES += {{name}}
{%- endif %}

{%- if replicas is defined %}
DOCKER_RUN_REPLICAS = {{replicas}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm docker.mk)
{%- else %}
include docker.mk
{%- endif %}