#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20230718

{%- if filename is defined %}
docker_COMPOSEFILES += {{filename}}
{%- endif %}

{%- if DOCKER_COMPOSE_FLAGS is defined %}
DOCKER_COMPOSE_FLAGS = {{DOCKER_COMPOSE_FLAGS}}
{%- endif %}

{%- if DOCKER_COMPOSE_UP_FLAGS is defined %}
DOCKER_COMPOSE_UP_FLAGS = {{DOCKER_COMPOSE_UP_FLAGS}}
{%- endif %}

{%- if DOCKER_HOST is defined %}
DOCKER_COMPOSE_HOST = {{DOCKER_HOST}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm docker_compose.mk)
{%- else %}
include docker_compose.mk
{%- endif %}