# set base
{%- if base is defined and base != None and base|length %}
# Error: short-name resolution enforced but cannot prompt without a TTY
# prefixed the container image with the registry name, it worked
# https://github.com/containers/podman/issues/11530
FROM {{base}}
{%- endif %}

# set add
{%- if adds is not defined and copies is not defined%}
ADD . /
{%- endif %}
{%- if adds is defined and adds != None %}
{%- for add in adds %}
ADD {{ add }}
{%- endfor %}
{%- endif %}

# set copy
{%- if copies is defined and copies != None %}
{%- for copy in copies %}
COPY {{ copy }}
{%- endfor %}
{%- endif %}

# set workdir
{%- if workdir is defined and workdir != None and workdir|length %}
WORKDIR {{workdir}}
{%- else %}
WORKDIR /usr
{%- endif %}

# set arg
{%- if arg is defined and arg != None %}
{%- for key, value in arg.items() %}
ARG {{ key }}="{{ value }}"
{%- endfor %}
{%- endif %}

# set env
{%- if env is defined and env != None %}
{%- for key, value in env.items() %}
ENV {{ key }}="{{ value }}"
{%- endfor %}
{%- endif %}

# set run
{%- if runs is defined and runs != None %}
{%- for run in runs %}
RUN {{ run }}
{%- endfor %}
{%- endif %}

# set volumes
{%- if volumes is defined and volumes != None %}
{%- for volume in volumes %}
VOLUME {{ volume }}
{%- endfor %}
{%- endif %}

# set labels
{%- if label is defined and label != None %}
{%- for key, value in label.items() %}
LABEL "{{ key }}"="{{ value }}"
{%- endfor %}
{%- endif %}

# set expose
{%- if exposes is defined and exposes != None %}
{%- for expose in exposes %}
EXPOSE {{ expose }}
{%- endfor %}
{%- endif %}

# set user
{%- if user is defined and user != None and user|length %}
USER {{ user }}
{%- endif %}

# set healthcheck
{%- if healthcheck is defined and healthcheck != None and healthcheck|length %}
HEALTHCHECK {{healthcheck}}
{%- endif %}

# set cmd
{%- if cmd is defined and cmd != None and cmd|length %}
CMD {{ cmd }}
{%- endif %}

# set entrypoint
{%- if entrypoint is defined and entrypoint != None and entrypoint|length %}
ENTRYPOINT {{ entrypoint }}
{%- endif %}
