{%- if version is defined and version != None -%}
version: "{{ version }}"
{%- endif  %}
name: "{{ name }}"
services:
  app:
    image: {{ image }}
    pull_policy: {%- if pull_policy is defined and pull_policy != None and pull_policy|length %} {{ pull_policy }} {% else %} missing {%- endif %}
    privileged: {%- if privileged is defined and privileged != None and privileged|length %} {{ privileged }} {% else %} false {%- endif %}
    network_mode: {%- if network_mode is defined and network_mode != None and network_mode|length %} {{ network_mode }} {% else %} bridge {%- endif %}
    restart: {%- if restart is defined and restart != None and restart|length %} {{ restart }} {% else %} on-failure {%- endif %}
    {%- if volumes is defined and volumes != None %}
    {%- for volume in volumes if volume != None and volume | length %}
    {% if loop.index0 == 0 -%} volumes: {%- endif %}
      - {{ volume }}
    {%- endfor %}
    {%- endif %}
    {%- if ports is defined and ports != None %}
    {%- for port in ports if port != None and port | length %}
    {% if loop.index0 == 0 -%} ports: {%- endif %}
      - {{ port }}
    {%- endfor %}
    {%- endif %}
    {%- if labels is defined and labels != None %}
    {%- for label in labels if label != None and label | length %}
    {% if loop.index0 == 0 -%} labels: {%- endif %}
      - {{ label }}
    {%- endfor %}
    {%- endif %}
    {%- if dns is defined and dns != None %}
    {%- for dn in dns if dn != None and dn | length %}
    {% if loop.index0 == 0 -%} dns: {%- endif %}
      - {{ dn }}
    {%- endfor %}
    {%- endif %}
    {%- if dns_opt is defined and dns_opt != None %}
    {%- for dns_op in dns_opt if dn != None and dns_op | length %}
    {% if loop.index0 == 0 -%} dns_opt: {%- endif %}
      - {{ dns_op }}
    {%- endfor %}
    {%- endif %}
    {%- if dns_search is defined and dns_search != None %}
    {%- for dns_searc in dns_search if dn != None and dns_searc | length %}
    {% if loop.index0 == 0 -%} dns_search: {%- endif %}
      - {{ dns_searc }}
    {%- endfor %}
    {%- endif %}
    {%- if tmpfs is defined and tmpfs != None %}
    {%- for tmpf in tmpfs if dn != None and tmpf | length %}
    {% if loop.index0 == 0 -%} tmpfs: {%- endif %}
      - {{ tmpf }}
    {%- endfor %}
    {%- endif %}
    deploy:
      mode:  {%- if mode is defined and mode != None and mode|length %} {{ mode }} {% else %} replicated {%- endif %}
      replicas: {%- if replicas is defined and replicas != None and replicas|int >= 0 %} {{ replicas }} {% else %} 1 {%- endif %}
      resources:
        limits:
          cpus: {%- if cpus is defined and cpus != None %} '{{ cpus }}' {% else %} '0.5' {%- endif %}
          memory:  {%- if memory is defined and memory != None %} {{ memory }} {% else %} 1g {%- endif %}
      update_config:
        parallelism: {%- if update_config_parallelism is defined and update_config_parallelism != None %} {{ update_config_parallelism }} {% else %} 2 {%- endif %}
        failure_action: {%- if update_config_failure_action is defined and update_config_failure_action != None %} {{ update_config_failure_action }} {% else %} rollback {%- endif %}
        delay: {%- if update_config_delay is defined and update_config_delay != None %} {{ update_config_delay }} {% else %} 0s {%- endif %}
        order: {%- if update_config_order is defined and update_config_order != None %} {{ update_config_order }} {% else %} start-first {%- endif %}
        monitor: {%- if update_config_monitor is defined and update_config_monitor != None %} {{ update_config_monitor }} {% else %} 0s {%- endif %}
        max_failure_ratio: {%- if update_config_max_failure_ratio is defined and update_config_max_failure_ratio != None %} {{ update_config_max_failure_ratio }} {% else %} 10 {%- endif %}