#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUGHOR: ArrowLee
# DATE: 20230113

git_DIRS += {{dir}}
git_REPOS += {{repo}}

{%- if branch is defined %}
git_BRANCHES += {{branch}}
{%- else %}
git_BRANCHES += master
{%- endif %}

{%- if destdir is defined %}
gitdir = {{destdir}}
{%- else %}
gitdir =
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm git.mk)
{%- else %}
include git.mk
{%- endif %}