#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20180726

{%- if name is defined %}
gobin_PROGRAMS = {{name}}
{%- elif names is defined %}
{%- for k,v in names.items() %}
gobin_PROGRAMS += {{k}}
go_MAINS += {{v}}
{%- endfor %}
{%- endif %}

{%- if GO_BUILD_FLAGS is defined %}
GO_BUILD_FLAGS = {{GO_BUILD_FLAGS}}
{%- endif %}

{%- if GO_TEST_FLAGS is defined %}
GO_TEST_FLAGS = {{GO_TEST_FLAGS}}
{%- endif %}

{%- if GOOS is defined %}
GOOS = {{GOOS}}
{%- endif %}

{%- if GOARCH is defined %}
GOARCH = {{GOARCH}}
{%- endif %}

{%- if GO111MODULE is defined %}
GO111MODULE = {{GO111MODULE}}
{%- endif %}

{%- if GOPROXY is defined -%}
GOPROXY = {{GOPROXY}}
{%- endif %}

{%- if GOPATH is defined %}
GOPATH = {{GOPATH}}
{%- endif %}

{%- if GOROOT is defined %}
GOROOT = {{GOROOT}}
{%- endif %}

{%- if PKG_CONFIG_PATH is defined %}
PKG_CONFIG_PATH = {{PKG_CONFIG_PATH}}
{%- endif %}

{%- if C_INCLUDE_PATH is defined %}
C_INCLUDE_PATH = {{C_INCLUDE_PATH}}
{%- endif %}

{%- if CGO_ENABLED is defined %}
CGO_ENABLED = {{CGO_ENABLED}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm go.mk)
{%- else %}
include go.mk
{%- endif %}