#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20210430

{%- if name is defined %}
img_NAMES = {{name}}
{%- endif %}

{%- if DOCKER_BUILDKIT is defined -%}
# option: --mount option requires BuildKit, when RUN --mount in dockerfile.
# https://blog.opstree.com/2021/04/20/docker-buildkit-faster-builds-mounts-and-features/
DOCKER_BUILDKIT = {{DOCKER_BUILDKIT}}
{%- endif %}

{%- if IMAGE_BUILD_FLAGS is defined -%}
# option: --format docker. writing manifest: uploading manifest to harbor "received unexpected HTTP status: 500 Internal Server Error"
# https://www.mankier.com/1/buildah-build
# https://github.com/goharbor/harbor/issues/11328
BUILDAH_BUILD_FLAGS = {{IMAGE_BUILD_FLAGS}}
DOCKER_BUILD_FLAGS = {{IMAGE_BUILD_FLAGS}}
{%- endif %}

{%- if IMAGE_SAVE_FLAGS is defined -%}
# run buildah inside container, to avoid some error:
# Error: mount /var/lib/containers/storage/overlay:/var/lib/containers/storage/overlay,
# flags: 0x1000: operation not permitted
#
# https://insujang.github.io/2020-11-09/building-container-image-inside-container-using-buildah/
BUILDAH_SAVE_FLAGS = {{IMAGE_SAVE_FLAGS}}
DOCKER_SAVE_FLAGS = {{IMAGE_SAVE_FLAGS}}
{%- endif %}

{%- if registry is defined %}
REGISTRY = {{registry}}
{%- endif %}

{%- if registry_username is defined %}
REGISTRY_USERNAME = {{registry_username}}
{%- endif %}

{%- if registry_password is defined %}
REGISTRY_PASSWORD = {{registry_password}}
{%- endif %}

{%- if rt_serial_pack_push is defined %}
RT_SERIAL_PACK_PUSH = {{rt_serial_pack_push}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm image.mk)
{%- else %}
include image.mk
{%- endif %}