#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20210430

{%- if name is defined %}
img_NAMES = {{name}}
{%- endif %}

{%- if registry is defined %}
REGISTRY = {{registry}}
{%- endif %}

{%- if registry_username is defined %}
REGISTRY_USERNAME = {{registry_username}}
{%- endif %}

{%- if registry_password is defined %}
REGISTRY_PASSWORD = {{registry_password}}
{%- endif %}

{%- if IMAGE_LOAD_FLAGS is defined %}
# run buildah inside container, to avoid some error:
# Error: mount /var/lib/containers/storage/overlay:/var/lib/containers/storage/overlay,
# flags: 0x1000: operation not permitted
#
# https://insujang.github.io/2020-11-09/building-container-image-inside-container-using-buildah/
BUILDAH_LOAD_FLAGS={{IMAGE_LOAD_FLAGS}}
DOCKER_LOAD_FLAGS={{IMAGE_LOAD_FLAGS}}
{%- endif %}

{%- if IMAGE_PUSH_FLAGS is defined %}
BUILDAH_PUSH_FLAGS={{IMAGE_PUSH_FLAGS}}
DOCKER_PUSH_FLAGS={{IMAGE_PUSH_FLAGS}}
{%- endif %}

{%- if rt_serial_pack_push is defined %}
RT_SERIAL_PACK_PUSH = {{rt_serial_pack_push}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm image.mk)
{%- else %}
include image.mk
{%- endif %}