#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20180723

{%- if CICD_ARMOR == 1 %}
.PHONY: {{ LIB_CICD_SO }}
-load {{ LIB_CICD_SO }}
CICD_ARMOR = {{ CICD_ARMOR }}
{%- endif %}
DESTDIR = {{ destdir }}
srcdir = {{ srcdir }}