#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20180726

j2sconf_DATA = {%- for n in name %} {{ n }} {%- endfor %}

{%- if j2src is defined %}
J2_SRC = {{j2src}}
{%- endif %}

{%- if j2ext is defined %}
J2_EXT = {{j2ext}}
{%- endif %}

{%- if j2src_ext is defined %}
J2_SRC_EXT = {{j2src_ext}}
{%- endif %}

{%- if destdir is defined %}
rootj2dir = {{destdir}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm j2.mk)
{%- else %}
include j2.mk
{%- endif %}
