apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{name}}-deployment
  {% if ((namespace is defined) and (namespace is string) )-%} namespace: {{namespace}} {%- endif %}
  labels:
    app: {{name}}
spec:
  replicas: {% if replicas is not defined -%} 1 {% else %} {{replicas}} {%- endif %}
  selector:
    matchLabels:
      app: {{name}}
  revisionHistoryLimit: 1
  minReadySeconds: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: {{name}}
    spec:
      {% if image_pull_secrets is defined -%} imagePullSecrets: {%- endif %}
        {% for item in image_pull_secrets -%} - name: {{item}} {%- endfor %}
      containers:
      - name: {{name}}
        imagePullPolicy: {%- if image_pull_policy is not defined %} "IfNotPresent" {% else %} {{image_pull_policy}} {%- endif %}
        image: {{image}}
        resources:
          requests:
            memory: {%- if req_mem is not defined %} "256Mi" {% else %} {{req_mem}} {%- endif %}
            cpu: {%- if req_cpu is not defined %} "250m" {% else %} {{req_cpu}} {%- endif %}
          limits:
            memory: {%- if limit_mem is not defined %} "1Gi" {% else %} {{limit_mem}} {%- endif %}
            cpu: {%- if limit_cpu is not defined %} "1000m" {% else %} {{limit_cpu}} {%- endif %}
      terminationGracePeriodSeconds: 30