#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20210618

{%- if filename is defined %}
k8s_MANIFESTS += {{filename}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm kubectl.mk)
{%- else %}
include kubectl.mk
{%- endif %}