#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20221019

{%- if name is defined %}
npmdist_PROGRAMS = {{name}}
npmdist_COMMANDS = build
{%- elif names is defined %}
{%- for k,v in names.items() %}
npmdist_PROGRAMS += {{k}}
npmdist_COMMANDS += {{v}}
{%- endfor %}
{%- endif %}

{%- if NPM_ENABLE_SINGLE_MODE is defined %}
NPM_ENABLE_SINGLE_MODE = {{NPM_ENABLE_SINGLE_MODE}}
{%- else %}
NPM_ENABLE_SINGLE_MODE = 1
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm npm.mk)
{%- else %}
include npm.mk
{%- endif %}