{
  "var": {
  },
  "init": {
    "ctl_panel": {
      "j2dir": [
        "{{j2_model_home}}"
      ],
      "git": {
        "git_mk": "git.mk.j2"
      }
    }
  },
  "build": {
    "ctl_panel": {
      "j2dir": [
        "{{j2_model_home}}"
      ],
      "proto": {
        "proto_mk": "proto.mk.j2"
      },
      "go": {
        "go_mk": "go.mk.j2"
      },
      "conf": {
        "conf_mk": "conf.mk.j2"
      },
      "sh": {
        "sh_mk": "sh.mk.j2"
      },
      "j2": {
        "j2_mk": "j2.mk.j2"
      },
      "npm": {
        "npm_mk": "npm.mk.j2"
      }
    }
  },
  "pack": {
    "ctl_panel": {
      "j2dir": [
        "{{j2_model_home}}"
      ],
      "image": {
        "dockerfile_name": "Dockerfile",
        "dockerignore_name": ".dockerignore",
        "dockerfile": "dockerfile.j2",
        "dockerignore": "dockerignore.j2",
        "pack_mk": "image.pack.mk.j2",
        "rt_serial_pack_push": "{% if 'pack' in run_stages and 'push' in run_stages %}1{%else%}0{%endif%}"
      },
      "tar": {
        "tarfile_name": "tarfile",
        "tarignore_name": ".tarignore",
        "tarfile": "tarfile.j2",
        "tarignore": "tarignore.j2",
        "tar_pack_mk": "tar.pack.mk.j2"
      }
    }
  },
  "push": {
    "ctl_panel": {
      "j2dir": [
        "{{j2_model_home}}"
      ],
      "image": {
        "push_mk": "image.push.mk.j2",
        "rt_serial_pack_push": "{% if 'pack' in run_stages and 'push' in run_stages %}1{%else%}0{%endif%}"
      }
    }
  },
  "deploy": {
    "ctl_panel": {
      "j2dir": [
        "{{j2_model_home}}"
      ],
      "k8s": {
        "filename": "k8s.deploy.yml",
        "deploy_yml": "k8s.deploy.yml.j2",
        "kubectl_mk": "kubectl.mk.j2"
      },
      "docker": {
        "deploy_mk": "docker.deploy.mk.j2"
      },
      "docker_compose": {
        "filename": "docker.compose.yml",
        "deploy_yml": "docker.compose.yml.j2",
        "deploy_mk": "docker.deploy.compose.mk.j2"
      }
    }
  }
}