#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20230203

{%- for n in name %}
shbin_PROGRAMS += {{ n }}
{%- endfor %}

{%- if ( (destdir is defined) and (destdir is string) ) %}
rootshbindir = {{destdir}}
{%- endif %}

{%- if ( (shext is defined) and (shext is string) ) %}
SHBIN_EXT = {{shext}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm sh.mk)
{%- else %}
include sh.mk
{%- endif %}