#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20180723

{%- for subdir in subdirs %}
SUBDIRS += {{ subdir }}
{%- endfor %}

{%- if CICD_ARMOR == 1 %}
$(disarm subdirs.mk)
{%- else %}
include subdirs.mk
{%- endif %}
