#--------------------------------
# PLEASE DO NOT CHANGE SCRIPT BELOW
# AUTHOR: ArrowLee
# DATE: 20230115

tar_NAMES = {{name}}

{%- if tarfile_name is defined %}
tar_FILES = {{tarfile_name}}
{%- else %}
tar_FILES = tarfile
{%- endif %}

{%- if TAR_BUILD_FLAGS is defined %}
TAR_BUILD_FLAGS = {{TAR_BUILD_FLAGS}}
{%- endif %}

{%- if tarignore_name is defined %}
TAR_BUILD_IGNOREFILE = {{tarignore_name}}
{%- endif %}

{%- if CICD_ARMOR == 1 %}
$(disarm tar.mk)
{%- else %}
include tar.mk
{%- endif %}